* {
    margin: 0px;
    padding: 0px;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.body {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100%;
    /*display:flex;*/
    text-align: center;
    position:relative;
}

.login_card {
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 30px;
    min-width: 320px;
    max-width: 370px;
    width: 100%;
    height: 480px;
    border-radius:5px;
    padding:50px;/*外包围*/
    position: relative;
    vertical-align: middle;
    background-color: #121212;
    font-family:微软雅黑;
}
.login_card_logo {
    width:60px;
    padding-top:20px;
    padding-bottom:20px;
}

.login_card_header {
    font-size: 25px;
    color: #fff;
    line-height: 65px;
}
.login_input_warpper {
    padding-bottom: 20px;
}
.login_inputbox {
    color: #fff;
    font-size: 15px;
    background-color: #333333;
    width: 310px;
    height: 50px;
    border: none;
    border-radius: 8px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    /*background-image: Linear-gradient(to right,#F83889,#00ACE3);*//*过渡色*/
}
.login_checkbox {
    float: left;
    color: #999999;
}
.login_button {
    color: #999999;
    font-size: 16px;
    background-color: #292929;
    width: 370px;
    height: 50px;
    border: none;
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    cursor: pointer;
    transition-duration: 800ms
}
    .login_button:hover {
        color: #fff;
        background-color: #FF6F26;
    }
.link_icon {
    width: 20px;
    padding-top: 10px;
    padding-right:5px;
}